*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
}

body{
    font-family: Poppins, Roboto;
}

#background-video{
    position: fixed;
    height: 100vh;
    width: 100vw;
}


.signup{
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

input{
    height: 30px;
    border-radius: 8px;
}

.border{
    /* line-height: 30px;
    display: grid;
    place-items: center;
    
    position: absolute;
    top: 26%;
    left: 45%;
    
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    
     */
    height: auto;
    padding: 20px;
    width: auto;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    background-image: linear-gradient(to bottom right, rgb(25, 174, 233), rgb(22, 18, 18));
    transition: opacity 1s ease;
}

.border:hover{
    cursor: pointer;
    opacity: 0.8;
}
